canvas {
    position: absolute;
    left:50%;
    margin-left: -250px;
    cursor: pointer;
    background-color: black;
}
button {
    background-color: #dddddd;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
}
button#clear {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 520px;
}
button#shape-cube {
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -420px;
    top: 230px;
}
button#shape-obj {
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -470px;
    top: 130px;
}
button#shape-s {
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -420px;
    top: 300px;
}
button#shape-t {
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -420px;
    top: 370px;
}
button#shape-c {
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -420px;
    top: 440px;
}

.slider {
    position: absolute;
    left: 50%;
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    border-radius: 0px;
    background: #dddddd;
    outline: none;
}
#slider-r{
    top: 620px;
}
#slider-g{
    top: 660px;
}
#slider-b{
    top: 700px;
}
#slider-s{
    margin-left: -250px;
    top: 620px;
}
#slider-seg{
    margin-left: -250px;
    top: 660px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#slider-r::-webkit-slider-thumb {
    background: #FF4444;
}
#slider-g::-webkit-slider-thumb {
    background: #44AA44;
}
#slider-b::-webkit-slider-thumb {
    background: #4444AA;
}
#slider-s::-webkit-slider-thumb {
    background: #333333;
}
#slider-seg::-webkit-slider-thumb {
    background: #333333;
}

div.position {
    background-color: #dddddd;
    position: absolute;
    right: 50%;
    margin-right: -250px;
    top: 520px;
    padding: 15px 20px;
    font-size: 18px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: block;
}
div.label {
    position: absolute;
    right: 50%;
    margin-right: 260px;
    top: 600px;
    height: 25px;
}
.label#size {
    top: 615px;
}
.label#segments {
    top: 655px;
}

input#choose-file {
    position: absolute;
    top: 90px;
    right: 50%;
    margin-right: 215px;
}
