/*
button {
    background-color: #dddddd;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
}
button#clear {
    position: absolute;
    left: 50%;
    margin-left: -370px;
    top: 520px;
}
button#shape-c {
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 660px;
}
button#shape-s {
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 520px;
}
button#shape-t {
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 590px;
}
*/

canvas {
    position: absolute;
    left:50%;
    margin-left: -250px;
    cursor: pointer;
    background-color: black;
    top: 100px;
}
/*
.slider {
    position: absolute;
    left: 50%;
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    border-radius: 0px;
    background: #dddddd;
    outline: none;
}

#slider-r{
    top: 520px;
}
#slider-g{
    top: 560px;
}
#slider-b{
    top: 600px;
}

#slider-s{
    top: 660px;
}
#slider-seg{
    top: 700px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#slider-r::-webkit-slider-thumb {
    background: #FF4444;
}
#slider-g::-webkit-slider-thumb {
    background: #44AA44;
}
#slider-b::-webkit-slider-thumb {
    background: #4444AA;
}
#slider-s::-webkit-slider-thumb {
    background: #333333;
}
#slider-seg::-webkit-slider-thumb {
    background: #333333;
}
*/
/*
div.position {
    height: 65px;
    background-color: #dddddd;
    position: absolute;
    right: 50%;
    margin-right: 260px;
    top: 440px;
    padding: 0px 20px;
    font-size: 20px;
    text-align: center;
}
div.label {
    position: absolute;
    right: 50%;
    margin-right: 10px;
    top: 600px;
    height: 25px;
}
.label#size {
    top: 658px;
}
.label#segments {
    top: 697px;
}

*/
