canvas {
    position: absolute;
    background-color: rgb(255, 255, 255);
}

#near {
    position: absolute;
    top: 10px;
    left: 10px;
}

#far {
    position: absolute;
    top: 30px;
    left: 10px;
}

button#view {
    position: absolute;
    top: 50px;
    left: 10px;
}
button#freeze {
    background-color: rgb(180, 180, 180);
    font-size: 15pt;
    position: absolute;
    top: 30px;
    left: 100%;
    margin-left: -150px;
    width: 100px;
    height: 30px;
}