button {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 520px;
    background-color: #dddddd; /* Green */
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
}

canvas {
    position: absolute;
    left:50%;
    margin-left: -250px;
    cursor: pointer;
}

.slider {
    position: absolute;
    left: 50%;
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    border-radius: 0px;
    background: #dddddd;
    outline: none;
}

#slider-r{
    top: 520px;
}
#slider-g{
    top: 560px;
}
#slider-b{
    top: 600px;
}
#slider-s{
    top: 660px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#slider-r::-webkit-slider-thumb {
    background: #FF4444;
}
#slider-g::-webkit-slider-thumb {
    background: #44AA44;
}
#slider-b::-webkit-slider-thumb {
    background: #4444AA;
}
#slider-s::-webkit-slider-thumb {
    width: $(value);
    background: #333333;
}
